header { 
    background-image: url('images/header.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh; width: 100%;

    section { display: flex; }
    
    #container-logo { 
        display: flex; 
        align-items: center; 
        width: 30%; height: 400px; 
        margin-left: 200px;  

        #logo { 
            background-image: url('images/logo3.png'); 
            background-repeat: no-repeat; 
            margin-top: 100px; 
            width: 600px; height: 400px; }
    }

    nav { 
        display: flex; 
        justify-content: right; 
        width: 100%; 
        margin-right: 100px; margin-top: 30px;

        ul { 
            list-style-type: none;

            li { 
                display: inline-block; 
                margin-left: 20px; 
                font-size:  x-large; text-transform: uppercase;

                a { 
                    text-decoration: none; 
                    color: white;

                    &:hover { color: #D0C1AE; }
                }
            }
        }
    } 

    #header_image_slider {
        background-color: rgb(208, 193, 174, 0.5);
        bottom: 0;
        padding-bottom: 20px;
        position: absolute;
        display: flex;
        width: 100%;
    }
}